.linechart {
  padding: 0px;
}
.linechart_path {
  stroke-width: 2;
  fill: none;
}

.linechart_axis {
  stroke: #bdc3c7;
}

.linechart_point {
  fill: transparent;
  stroke-width: 2;
}

.linechart_area {
  padding: 8px;
  fill: url(#MyGradient);
  stroke: none;
  opacity: 0.4;
}

.linechart_label {
  fill: #64b5f6;
  font-weight: 700;
}

.hoverLine {
  stroke: #7d95b6;
  stroke-width: 1;
}
